 * {
     padding: 0;
     margin: 0;
     box-sizing: border-box;
 }

 .container {
     width: 100%;
     display: flex;
     flex-wrap: wrap;
     align-items: center;
     justify-content: center;
 }

 .productContainer {
     width: 22%;
     height: 350px;
     /* background-color: red; */
     margin: 10px;
     padding: 10px;
 }

 .imgContainer {
     height: 200px;
     width: 200px;
 }

 .imgContainer img {
     height: 100%;
     width: 100%;
     object-fit: cover;
 }
 .btn{
    background: #a29fc7;
    padding: 5px 10px;
    border-radius: 10px;
 }